{% extends 'index-crematorio.html' %}
{% load static %}
{% block content-crematorio-principal %}
<div class="container-store">
    <div>

    </div>
    <div>

    </div>
</div>
<div class="container">
    <div class="store-product-plan">
        <div>
            <div>
                <h3 class="title-filter">Buscar</h3>
                <form class="form-inline">
                    <input class="search-store" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div>
                <h3 class="title-filter">Categoria</h3>
                <div >
                    <input type="checkbox" name="" id="">
                    <label for="">Urna</label>
                </div>
                <div >
                    <input type="checkbox" name="" id="">
                    <label for="">Planes</label>
                </div>
            </div>
            <div>
                <h3 class="title-filter">Material</h3>
                <div >
                    <input type="checkbox" name="" id="">
                    <label for="">Madera</label>
                </div>
                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">Marmol</label>
                </div>
                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">Metal</label>
                </div>
            </div>
        </div>
        <div>
            <div class="list-product-grid">
                {% for i in page_obj %}
                <div class="item-product">
                    <h5>{{ i.name_product }}</h5>
                    <p>Madera</p>
                    <img src="{% static 'images/LOGO.png' %}" alt="">
                    <span class="price-product">S/ {{ i.price_product }}</span>
                    <div class="flex-cart-store">
                        <a class="button-details" href="{% url 'details-product' i.slug_product %}"> Ver detalles</a>
                        <button class="icon">
                            <i class="fa-solid fa-cart-plus"></i>
                        </button>
                        
                        
                    </div>
                </div>
                
                {% endfor %}
            </div>

            {# nota: PAGINATION DE PRODUCTOS  #}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
    
        </div>
    
    </div>
</div>
{% endblock %}