{% extends 'index.html' %}
{% block content %}
<h1>Listar Productos</h1>
{# nota: Comentar Tabla de datos #}
    <div>
        <div class="flex-content-modal">
            <h5 class="title-list-table">Listado de Productos</h5>
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" sdata-target="#exampleModal">
                    <i class="fa-solid fa-circle-plus"></i> Agregar Producto
                  </button>
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-file-csv"></i> Exportar a Excel</a>
                <a class="btn btn-primary"  href="#"><i class="fa-solid fa-file-pdf"></i> Exportar a PDF</a>
            </div>
        </div>

        {% if not familiares %}
        <span>&nbsp;&nbsp;&nbsp;No hay datos para mostrar</span>
        {% else %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>     
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">N°. Celular</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Género</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                
                {% for i in familiares %}
                <tr>
                    <td>{{ i.name }} {{ i.lastname}}</td>
                    <td>{{ i.telephone }}</td>
                    <td>{{ i.city.upper  }}</td>
                    <td><span class=" {% if i.gender == 'M' %}  span-gender-male {% else%} span-gender-female {% endif %} ">{{ i.get_gender_display       }}</span></td>
                    <td class="td-actions">
                        <a href="{% url 'familiares:update-familiares' i.pk %}"><i class="fa-solid fa-pencil"></i></a>
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{# endcomment #}
{% endblock %}


