{% extends 'index-crematorio.html' %}
{% load static %}

{% block content-crematorio-principal %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Conoce nuestros convenios</h1>
            <p>
                Gracias a nuestra colaboración con destacadas entidades funerarias, estamos dedicados a ofrecer
                servicios exequiales de calidad en la región de San Martín. Nos enorgullece ser parte integral en estos
                momentos sensibles, brindando apoyo y soluciones durante los procesos funerarios.
            </p>
        </div>
        <div class="col-6"><img src="https://placehold.co/600x400" alt=""></div>
    </div>

    <div class="content-convenios">
        <h2 class="text-center">Nuestros Convenios</h2>
        <div class="content-grid-convenios">
            <h3>Funerarias</h3>
            <div class="grid-convenios-funerarias">
                <div>
                    <img src="https://placehold.co/300x300" alt="">
                </div>
                <div>
                    <img src="https://placehold.co/300x300" alt="">
                </div>
                <div>
                    <img src="https://placehold.co/300x300" alt="">
                </div>

            </div>

        </div>
        <div class="content-grid-convenios">
            <h3>Institucionales</h3>
            <div class="grid-convenios-institucionales">
                <div>
                    <img src="https://placehold.co/300x300" alt="">
                </div>
                <div>
                    <img src="https://placehold.co/300x300" alt="">
                </div>
                <div>
                    <img src="https://placehold.co/300x300" alt="">
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
{% block c-general %}{% endblock %}