<div class="container">
    <h2>Planifica tu cremación</h2>
    <p>En el Crematorio Virgen de la Natividad nuestros servicios brindan tranquilidad y apoyo en momentos difficiles.
        Planificar un funeral con antelación es un acto de amor y respeto que asegura la paz para tu familia.
        Obtén nuestro paquete Plan Futuro y garantiza la serenidad de estar preparado.</p>
    <div class="c-grid-planificacion">
        <div class="g-planificacion-img">
            {# NOTA: Imagen de Planificacion #}
        </div>
        <div class="g-planificacion">
            <h2 class="title-planificacion">PAQUETE PLAN FUTURO</h2>
            <p class="descrip-planificacion">¡Asegura tu tranquilidad y de tu familia hoy mismo!</p>
            <button class="btn btn-primary">Me interesa</button>
        </div>

    </div>
</div>