<div class="content-ubicacion" style="padding: 40px 0px;">
    <div class="container content-ubicacion-flex">
        <div class="item-ubicacion-01">
            <h2 class="title-ub-page">Crematorio en Tarapoto, San Martín</h2>
            <p class="text-ub-page">Brindamos apoyo emocional durante el duelo. Ubícanos en nuestra oficina en el CP Las Palmas, nuestros
                servicios llegan a toda la región, incluyendo Yurimaguas y Huánuco.</p>
        </div>
        <div class="item-ubicacion-02">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63426.362405792854!2d-76.40077228046874!3d-6.502985758583105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ba090fa0e55141%3A0xcce7c1ffeabdd9b8!2sCrematorio%20Virgen%20de%20la%20Natividad%20-%20Cremaci%C3%B3n!5e0!3m2!1ses-419!2spe!4v1736974529232!5m2!1ses-419!2spe"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>