<div class="container" style="padding: 40px 0px;">
    <h2 class="text-center title-pc-page">Satisfacción de Nuestros Clientes</h2>
    <div class="multiple-items">
        <div class="item-review"><img src="https://placehold.co/300x250" alt="Reseña 1"></div>
        <div class="item-review"><img src="https://placehold.co/300x250" alt="Reseña 2"></div>
        <div class="item-review"><img src="https://placehold.co/300x250" alt="Reseña 3"></div>
        <div class="item-review"><img src="https://placehold.co/300x250" alt="Reseña 4"></div>
        <div class="item-review"><img src="https://placehold.co/300x250" alt="Reseña 5"></div>
    </div>
</div>

