<div class="container" style="padding: 40px 0px;">
    <h2 class="text-center title-pc-page">Preguntas Frecuentes</h2>
    <div class="grid-fq">
        <details>
            <summary>¿Qué es la cremación?</summary>
            <p class="text-fq">La cremación es un proceso en el que el cuerpo de un fallecido se reduce a cenizas mediante la exposición
                a altas temperaturas en un crematorio.</p>
        </details>
        <details>
            <summary>¿Cuánto tiempo tarda el proceso de cremación?</summary>
            <p class="text-fq">El proceso de cremación generalmente dura entre 2 y 3 horas; sin embargo, el tiempo total puede variar dependiendo de varios factores.</p>
        </details>
        <details>
            <summary>¿Qué opciones de urnas están disponibles?</summary>
            <p class="text-fq">Ofrecemos 3 tipos de urnas: madera, mármol y acero inoxidable con  modelos para acompañar el homenaje y la memoria de sus seres queridos. </p>
        </details>
        <details>
            <summary>¿En la cremación también desaparecerá el ataúd?</summary>
            <p class="text-fq">No, únicamente el cuerpo se reduce a cenizas; el ataúd queda a disposición del adquirente si lo ha comprado.</p>
        </details>
        <details>
            <summary>¿Cuentan con un lugar donde se pueda guardar la cenizas? ¿Tiene costo adicional?</summary>
            <p>No, sin embargo si el cliente lo solicita podemos enviar las cenizas a un columbario para su cuidado. Dicho servicio suele costar entre S/1700 y S/2000.</p>
        </details>
    </div>
</div>