{% load static %}
<div class="container">
    <div class="grid-planificacion">
        <div class="item-planificacion-01">
            <img src="{% static 'images/JULIO-1.png' %}" alt="">
        </div>
        <div class="item-planificacion-02">
            <h2>¿Necesitas un servicio personalizado?</h2>
            <p>Ponte en contacto con nuestro asesor para que te ayude a personalizar tu servicio de cremación a través
                de nuestros diferentes paquetes funerarios.</p>
            <span> <i class="fa-solid fa-user"></i>Julio Cesar Tuanama del Castillo</span>
            <button class="btn btn-primary btn-planificacion"><i class="fa-brands fa-whatsapp"></i> Conversemos</button>
        </div>
    </div>
</div>