{% load static %}
<div class="content-email">
    <div class="container content-email-flex">

        <img class="img-logo-email" src="{% static 'images/LOGO.png' %}" alt="">
        <p class="eslogan-email">¡DESCUBRE LOS BENEFICIOS ESPECIALES PARA LOS COLEGIOS PROFESIONALES CON LOS QUE TENEMOS CONVENIO!</p>
        <div class="form-email-flex">
            <input class="form-control" type="text" placeholder="Dirección de Correo Electronico *">
            <button class="btn btn-primary">REGISTRARSE</button>

        </div>
    </div>
</div>