{% load static %}
<div class="container">
    <div class="grid-planificacion">
        <div class="item-planificacion-01">
            <img src="{% static 'images/JULIO-1.webp' %}" alt="">
        </div>
        <div class="item-planificacion-02">
            <h2 class="title-pl-page">¿Necesitas un servicio personalizado?</h2>
            <p class="text-pl">Ponte en contacto con nuestro asesor para que te ayude a personalizar tu servicio de cremación a través
                de nuestros diferentes paquetes funerarios.</p>
            <span class="text-pl"> <i class="fa-solid fa-user"></i>&nbsp; Julio Cesar Tuanama del Castillo</span>
            <span class="text-pl"> <i class="fa-solid fa-user"></i>&nbsp; Piero Reategui García</span>
            <div class="grid-btn" style="display: flex; justify-content: center; width: 100%; align-items: center; gap: 1rem; margin-top: 10px;">
                <button class="btn btn-primary btn-planificacion"><i class="fa-brands fa-whatsapp"></i> Julio Cesar</button>
                <button class="btn btn-primary btn-planificacion"><i class="fa-brands fa-whatsapp"></i> Piero Reategui </button>
            </div>
        </div>
    </div>
</div>