<div class="c-servicios">
    <div class="container">
        <h2 class="text-center">Servicios de cremación</h2>
        <p>Te ofrecemos 3 tipos de paquetes de cremación diseñados para adaptarse a tus necesidades y presupuesto. Cada paquete incluye servicios esenciales para asegurar una despedida digna y respetuosa, desde opciones básicas hasta servicios personalizados y exclusivos. Estamos aquí para brindarte apoyo y cuidado en cada paso del proceso.</p>
        <div class="grid-servicios">
            <div class="item-servicios">
                <p>1</p>
            </div>
            <div class="item-servicios">
                <p>2</p>
            </div>
            <div class="item-servicios">
                <p>3</p>
            </div>
        </div>
    </div>
</div>