{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crematorio Virgen de la Natividad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-fallecido.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-mural.css' %}">

    <link rel="stylesheet" href="{% static 'css/style-store.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-details-product.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-fq.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {# ESTILOS DE CONVENIOS #}
    <link rel="stylesheet" href="{% static 'css/style-convenios.css' %}">


    <!-- SLICK -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>


</head>

<body>
    <nav class="navbar navbar-expand-lg bg-crematorio-color" style="margin: 0px;">
        <div class="container-fluid" style="width: 80%;">
            <img class="img-logo-crematorio" src="{% static 'images/LOGO.png' %}" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: flex-end;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Servicios Cremación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'convenios' %}">Convenios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recuerdos' %}">Mural Recuerdo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogs' %}">blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>

        {% block content-crematorio-principal %}
        {% endblock %}

        {% block c-general %}

        {# NOTA: Portada Principal #}
        {%include 'index-portada.html' %}

        {# NOTA: Servicios #}
        {% include 'index-servicios.html' %}

        {# NOTA: Planificacion #}
        {% include 'index-planificacion.html'%}

        {# NOTA: Ubicacion #}
        {% include 'index-ubicacion.html' %}

        {# NOTA: vendedores #}
        {% include 'index-vendedores.html' %}

        {# NOTA: Email marketing #}
        {% include 'index-email.html' %}

        {# NOTA: Review #}
        {% include 'index-review.html' %}

        {# NOTA: Preguntas Frecuentes #}
        {% include 'index-FQ.html' %}
        {% endblock %}
    </main>

    


    <script src="{% static  'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {#nota: estilos de js slick #}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.multiple-items').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: true,
                autoplay: true,
                centerMode: true,
                autoplaySpeed: 5000,
            });
        });
    </script>

</body>

</html>